@model MVCLicnaDokumentaPasos.Models.tblProduzetakPasosa

@{
    ViewBag.Title = "Details";
}

<h2>Informacije o produzetku pasosa</h2>

<div>
    <h4>tblProduzetakPasosa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LicnaKarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicnaKarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StariPasos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StariPasos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TroskoviUplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TroskoviUplate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.ProduzetekPasosaID }) |
    @Html.ActionLink("Lista produzetka pasosa", "Index")
</p>
