@model MVCLicnaDokumentaPasos.Models.tblUplata

@{
    ViewBag.Title = "Details";
}

<h2>Informacije o uplatama</h2>

<div>
    <h4>tblUplata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObrzacPutneIsprave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObrzacPutneIsprave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrativnaTaksa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrativnaTaksa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.UplataID }) |
    @Html.ActionLink("Lista uplata", "Index")
</p>
